<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:fragment="bootstrapcss" rel="stylesheet"
          href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script th:fragment="bootstrapjs" src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Біз туралы</h4>
                    <p class="text-muted">Барлық мектептердің бірыңғай тізілімі, балаларды элективтерге қабылдау бойынша электрондық мемлекеттік көрсетілетін қызметтер, барлық деректердің барынша ашықтығы, балалардың электрондық жеке іс-құжаттары.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Байланыс</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Twitter</a></li>
                        <li><a href="#" class="text-white">Facebook</a></li>
                        <li><a href="#" class="text-white">E-почта</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Элективтер</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li sec:authorize="!isAuthenticated()" class="nav-item">
                            <a class="nav-link" href="/login">Кіру</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link" href="/logout">Шығу</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_PUPIL')" class="nav-item">
                            <a class="nav-link" href="/user/pupil/profile">Жеке кабинет</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_INSTRUCTOR')" class="nav-item">
                            <a class="nav-link" href="/user/instructor/profile">Жеке кабинет</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                            <a class="nav-link" href="/user/admin/profile">Жеке кабинет</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_PUPIL') || hasRole('ROLE_INSTRUCTOR')" class="nav-item">
                            <a class="nav-link" href="/calendar/">Күнтізбе</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

</body>
</html>