<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:insert="fragments/general.html :: bootstrapcss">
    <title>Admin</title>
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-around">
                <a href="/user/admin/register">Тіркеу</a>
                <a href="/user/admin/elective/register">Элективтер</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="h4">Барлық элективтер</h4>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Атауы</th>
                    <th scope="col">Қалған орын саны</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="elective, i : ${electives}">
                    <th scope="row" th:text="${i.index + 1}"></th>
                    <td>
                        <a th:href="@{/elective/{id}(id=${elective.getId()})}" th:text="${elective.getName()}"></a>
                    </td>
                    <td th:text="${elective.getPupilLimit()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>