<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:insert="fragments/general.html :: bootstrapcss">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <link th:insert="fragments/general.html :: bootstrapjs">
    <link rel="stylesheet" href="/css/calendar.css"/>
    <title>Күнтізбе</title>
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<div class="container-fluid">
    <div class="row month text-center">
        <h1 class="heading" th:text="${month} + ', ' + ${day}"></h1>
    </div>
</div>
<div class="row calendar">
    <div class="col weekDays heading" th:each="day : ${weekDays}" th:text="${day}">
    </div>
    <div class="days blurred d-flex align-items-center justify-content-center" th:each="i: ${#numbers.sequence(prevLastDayIndex.intValue()-1, 0)}"
         th:text="${prevLastDay.intValue()-i}"></div>
    <div class="days dropdown" th:each="i: ${#numbers.sequence(1, lastDay)}">
        <button th:if="${uniqueDays.contains(daysOfWeek[(prevLastDayIndex+i)%7]) == true}" class="btn-custom dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" th:text="${i}"></button>
        <button th:if="${uniqueDays.contains(daysOfWeek[(prevLastDayIndex+i)%7]) == false}" class="btn-custom" type="button" th:text="${i}"></button>
        <ul style="position: absolute;" class="dropdown-menu" aria-labelledby="dropdownMenuButton1" th:each="elective: ${electives}">
            <li sec:authorize="hasRole('ROLE_PUPIL')">
                <a class="dropdown-item" th:href="@{/elective/page/{id}(id=${elective.getId()})}" th:each="schedule: ${elective.getSchedules()}"
                   th:if='${schedule.getDay().equals(daysOfWeek[(prevLastDayIndex+i)%7])}'
                   th:text="${elective.getType().getName()} + '-' +  ${elective.getInstructor().getFullName()} + '-' + (${schedule.getTime()} / 60 < 10 ? '0'+${schedule.getTime()} / 60 : ${schedule.getTime()} / 60) + ':' + (${schedule.getTime()} % 60 < 10 ? '0'+${schedule.getTime()} % 60 : ${schedule.getTime()} % 60)"></a>
            </li>
            <li sec:authorize="hasRole('ROLE_INSTRUCTOR')">
                <a class="dropdown-item" th:href="@{/elective/{id}(id=${elective.getId()})}" th:each="schedule: ${elective.getSchedules()}"
                   th:if='${schedule.getDay().equals(daysOfWeek[(prevLastDayIndex+i)%7])}'
                   th:text="${elective.getType().getName()} + '-' +  ${elective.getInstructor().getFullName()} + '-' + (${schedule.getTime()} / 60 < 10 ? '0'+${schedule.getTime()} / 60 : ${schedule.getTime()} / 60) + ':' + (${schedule.getTime()} % 60 < 10 ? '0'+${schedule.getTime()} % 60 : ${schedule.getTime()} % 60)"></a>
            </li>
            <li >
            </li>
        </ul>
    </div>
    <div class="days blurred d-flex align-items-center justify-content-center" th:each="i: ${#numbers.sequence(1, nextDays)}" th:text="${i}"></div>
</div>
</div>
</body>
</html>